@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$primaryRed: #d83351;
$primaryRedHover: #ca435c;
$disabledRed: #812d3c;
$primaryBlue: #1346B8;
$primaryBlueHover: #325cb6;
$fontColor: #ffffff;
$fontFamily: 'Roboto', sans-serif;
$white: #ffffff;
$success-green: #49A800;
$error-red: #b54141;
$navlink-grey: #d1caca;
$grey: #84878a;
$lightGrey: #d1cfcf;
$black: #000000;