@import '../../assets/scss/variables.scss';

.scroll-tabs {
    .MuiTabScrollButton-root {
        opacity: 1 !important;
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        svg {
            font-size: 2rem !important;

            path {
                fill: $primaryRed;
            }
        }
    }

    .MuiTabs-scroller {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .MuiTabs-scrollButtons {
        display: flex !important;
    }
}