@import "../../assets/scss/variables.scss";

.bookingCard {
    border-radius: 2rem;
    box-shadow: 0 0 8px 0 $lightGrey;

    .movieName {
        color: $primaryRed;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .theatreName {
        color: $black;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .theatreLocation {
        color: $grey;
        font-size: 1rem;
        font-weight: 600;
    }

    .date {
        color: $black;
        font-size: 1rem;

        .dateSpan {
            font-weight: 600;
        }
    }

    .img {
        width: 10rem;
        height: 10rem;
    }
}